@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    overflow-x: hidden;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

nav .logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ff3f3f;
}
.menu-btn {
    /* display: none; */
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 40%;
    left: -40%;
    background-color: #222;
    transition: 0.3s;
    padding-top: 80px;
    z-index: 1001;
}
.sidebar .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: crimson;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    background-color: #ffffff71;
    border-radius: 50%;
    backdrop-filter: blur(5px);
}
.sidebar.active {
    left: 0;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #333;
}
.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}

.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #333; */
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    white-space: nowrap;
}

#coursor {
    position: fixed;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s, transform 0.1s;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.page2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.532);
    backdrop-filter: blur(5px); */
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    white-space: nowrap;
}
.box{
    /* background-color: rgba(0, 0, 0, 0.532);
    backdrop-filter: blur(5px); */
    padding: 20px 40px;
    border-radius: 10px;
    overflow: hidden;
}
.page2 h2 span {
    /* background-color: rgba(255, 255, 255, 0.532);
    backdrop-filter: blur(5px); */
    /* padding: 20px 40px;
    border-radius: 10px; */
    display: inline-block;
}